exportPattern("^[[:alpha:]]+")
import(httr)
import(rvest)
import(stringr)
importFrom("igraph", "graph.data.frame")
importFrom("igraph", "page.rank")
importFrom("jsonlite", "fromJSON")
importFrom("XML", "xmlToDataFrame")
importFrom("dplyr", "anti_join")
importFrom("readr", "read_csv")
import(robotstxt)
importFrom("utils", "URLencode")
import(digest)
