exportPattern("^[[:alpha:]]+")
import(httr)
import(rvest)
import(stringr)
importFrom("igraph", "graph.data.frame")
importFrom("igraph", "page.rank")
importFrom("jsonlite", "fromJSON")
importFrom("XML", "xmlToDataFrame")
importFrom("dplyr", "anti_join")
importFrom("readr", "read_csv")
import(robotstxt)
importFrom("utils", "URLencode")
importFrom("RCurl", "base64")
importFrom("utils", "read.csv")
import(xml2)
importFrom("digest", "hmac")
importFrom("utils", "head")
